@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import "reset.css";
@import "variables.css";

/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/icon-row.css";
@import "components/alt-screen-header.css";
@import "components/no-mobile.css";

/* Screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";

body {
  padding-top: 5px;
  color: #2e363e;
  font-family: "Gill Sans", sans-serif;
}

.bakground {
  background-image: url("https://wallpapercave.com/wp/wp5186872.jpg");
  background-size: 100%;
}
.bakgroundIndex {
  background-color: #abc1d1;
  opacity: 0.8;
}
.main-screen {
  padding: 0px var(--horizontal-space);
}
