#friends-display-link {
  text-align: center;
  display: block;
  background-color: #fafafa;
  padding: 15px 0px;
  font-size: 18px;
  margin-bottom: 15px;
  margin-top: -15px;
}

#friends-display-link i {
  color: var(--gray-font-color);
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.friends-screen__friends,
.friends-screen__channel {
  margin-top: 25px;
  border-top: var(--main-border);
  padding-top: 15px;
}

.friends-screen__channel-header,
.friends-screen__friends-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  color: wheat;
}

@keyframes hideSplash {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
#splash-screen {
  background-color: var(--green);
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  font-size: 132px;
  animation: hideSplash 0.5s ease-in-out forwards;
  animation-delay: 3s;
}

@-webkit-keyframes slide-bck-bottom {
  0% {
    -webkit-transform: translateZ(0) translateY(-600px);
    transform: translateZ(0) translateY(-600px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(-400px) translateY(200px);
    transform: translateZ(-400px) translateY(200px);
  }
}
@keyframes slide-bck-bottom {
  0% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(-400px) translateY(200px);
    transform: translateZ(-400px) translateY(200px);
  }
}

#splash-screen i {
  animation: slide-bck-bottom 2s ease-out forwards;
}
