.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0px 20px 20px;
  background-color: #abc1d1;
  opacity: 0.8;
  margin: 15px 0px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 20px;
  margin-right: 15px;
  position: relative;
}

.screen-header__newdot {
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 3px;
  display: flex;
  position: absolute;
  right: -6px;
  top: -7px;
}

@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}
.screen-header__icons .fa-cog:hover {
  animation: rotateCog 2s linear infinite;
}
